<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 class="display-6 text-muted"><a href="" class="text-uppercase text-muted">Movies&Stuff</a></h4>
                <p>&copy;2019 movies&stuff all rights reserved</p>
                <p class="text-muted">
                    <a href="" class="p-2 text-muted">privacy policy</a>
                    <a href="" class="p-2 text-muted">terms of service</a>
                </p>
            </div>
        </div>
    </div>
</footer>